<!--     Author- Ankit Mahendru       -->
<!--     StudentID-301205519     -->
<!--     Last Updated on 28/09/2021      -->
<div> <figure class="text-center">
  <h1 class="display-1">Who am I?</h1>
</figure></div>

    <div class="card mb-3" style="margin: auto; padding: 5%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="images\Ankit.JPG" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">Name - Ankit Mahendru</h1>
            <h2 class="card-title">Student ID – 301205519</h2>
            
            <p class="card-text" style="padding-right: 50%;">I have a Bachelor’s Degree in Computer Science Engineering.Which was completed in 2020.<br>
              I am from Panchkula(Chandigarh Tricity), Situated in the Northern Parts of India.<br>
              I am currently enrolled in the Software Engineering Technology – Artificial Intelligence FT Course in Centennial College, Canada. <br>
              I enrolled in this particular course to increase my understanding about how machines can be made more Human-Like using Artificial Intelligence and Machine Learning.<br>
              I am passionate about Smart Machines, Food and Video Games.<br>
              </p>
              <a href="others\Ankit_Mahendru_Resume_2021.pdf" class="btn btn-primary btn-lg enabled" tabindex="-1" role="button" aria-disabled="true" download="Resume">Download Resume</a>
            
          </div>
        </div>
      </div>
    </div>