<footer> 
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Made by Ankit Mahendru for COMP229 Assignment 1</a>
    </div>
  </nav> 
  </footer>
  