<!--     Author- Ankit Mahendru       -->
<!--     StudentID-301205519     -->
<!--     Last Updated on 28/09/2021      -->
<footer> 
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Made by Ankit Mahendru for COMP229 Assignment 1</a>
    </div>
  </nav> 
  </footer>
  