<!--     Author- Ankit Mahendru       -->
<!--     StudentID-301205519     -->
<!--     Last Updated on 28/09/2021      -->
<div style="margin: auto; padding: auto;"> 
    <figure class="text-center">
    <h1 class="display-1">Contact Me!</h1>
</figure>
    <dl class="row" style="padding: auto; margin: auto;">
        <dt class="col-sm-3">My Phone Number</dt>
        <dd class="col-sm-9">+91-98XXXXX411.</dd>
      
        <dt class="col-sm-3">My Email Address</dt>
        <dd class="col-sm-9">amahen17@my.centennialcollege.ca</dd>
      
        <dt class="col-sm-3">My Home Address </dt>
        <dd class="col-sm-9">Somewhere in India</dd>
      
        <dt class="col-sm-3 text-truncate">linkedin</dt>
        <dd class="col-sm-9"><a href="https://www.linkedin.com/in/ankitmahendrupkl/">linkedin.com/in/ankitmahendrupkl</a></dd>
      
      </dl>
      
      <div style="margin: auto; padding: 5%;">
        <h1 class="display-6">Drop me a message</h1>
          <div class="mb-3">
        <label for="ContactsFormInputemail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="ContactsFormInputemail" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="ContactsFormInputtext" class="form-label">Your Message Here</label>
        <textarea class="form-control" id="ContactsFormInputtext" rows="3"></textarea>
      </div>
    </figcaption>
    <a href="/Home" class="btn btn-primary btn-lg enabled" tabindex="-1" role="button" aria-disabled="true">Send Message</a>
  </figure>
</div>
</div>