<div style="background-image: url(/images/bgimage.jpg); background-size: cover; background-repeat: no-repeat;">
    <figure class="text-center" style="padding: 15%;">
        <blockquote class="blockquote">
            <h1 class="display-1">Hello and Welcome to my Portfolio</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
            <h2 class="display-5">Click the Link below to know more about me.</h2> 
          
        </figcaption>
        <a href="/about" class="btn btn-primary btn-lg enabled" tabindex="-1" role="button" aria-disabled="true">About Me!</a>
      </figure>
      
</div>