<!--     Author- Ankit Mahendru       -->
<!--     StudentID-301205519     -->
<!--     Last Updated on 28/09/2021      -->



<!--    Main NavBar       -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/home">
      <img src="\images\A New.JPG" alt="" height="50">
      AnkitMahendru_COMP229
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        
        <% if(title == "Home"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" aria-current="page" href="/home"><i class="fas fa-lg fa-house-user"></i> Home</a>
        </li>
        
        <% if(title == "About Me"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" aria-current="page" href="/about"><i class="fas fa-lg fa-address-card"></i> About</a>
        </li>

        <% if(title == "Products"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" aria-current="page" href="/products"><i class="fas fa-lg fa-toolbox"></i> Products</a>
        </li>

        <% if(title == "Services"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link " aria-current="page" href="/services"><i class="fas fa-lg fa-cogs"></i> Services</a>
        </li>

        <% if(title == "Contacts"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link " aria-current="page" href="/contact"><i class="fas fa-lg fa-envelope-open-text"></i> Contacts</a>
        </li>

        <% if(title == "Login"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link " aria-current="page" href="/login"><i class="fas fa-sign-in-alt"></i></i> Login</a>
        </li>
        
        <% if(title == "Contact List"){ %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link " aria-current="page" href="/contactList"><i class="fas fa-address-book"></i></i> Contact List</a>
        </li>


      </ul>
    </div>
</nav>