<div> <figure class="text-center">
    <h1 class="display-1">Things that I have Done!</h1>
</figure></div>
<div class="card-group">
    <div class="card">
      <img src="images\emenu.png" class="card-img-top" alt="..." height="559px">
      <div class="card-body">
        <h5 class="card-title">E-Menu</h5>
        <p class="card-text">A full-fledged application that provides complete order management for restaurants. Completely designed
            from scratch.</p>
      </div>
    </div>
    <div class="card">
      <img src="images\enclogo.png" class="card-img-top" alt="..." height="559px">
      <div class="card-body">
        <h5 class="card-title">EncDec Application</h5>
        <p class="card-text">A Desktop Application which is used to convert various types of Data into encrypted form with a key which
            can be used to decrypt the same data back.</p>
      </div>
    </div>
    <div class="card">
      <img src="images\random.jpg" class="card-img-top" alt="..." height="559px">
      <div class="card-body">
        <h5 class="card-title">Others</h5>
        <p class="card-text"><small class="text-muted">Various Java/Python Apps</small></p>
        <p class="card-text">I have made many other small scale applications such as Calculators, Unit Converters Applications. Also, I
            have worked on some applications that implement ML
            </p>
        
      </div>
    </div>
   
  </div>
  <p class="card-text"><small class="text-muted">Images Are from Google and are not associated with me.</small></p>