<div> <figure class="text-center">
    <h1 class="display-1">Services that I can do!</h1>
</figure></div>

<div class="card-group">
    <div class="card">
      <img src="/images/java_logo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Java Desktop Applications</h5>
     </div>
    </div>
    <div class="card">
      <img src="/images/Android_logo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Android Mobile Applications</h5>
     </div>
    </div>
    <div class="card">
      <img src="/images/sql_logo.svg" class="card-img-top" alt="..." height="560px" >
      <div class="card-body">
        <h5 class="card-title">SQL Databases</h5>
     </div>
    </div>
  </div>